/* IMPOSTAZIONI GENERALI */

body{
    font-family: 'Raleway', sans-serif;
}

b{
    font-weight: 600;
}

a{
    color: red;
}

p{
    margin: 1rem 0;
}

strong{
    color: #489ec2;
    font-weight: 600;
}






/* HEADER */
hr{
    display: none;
}

header{
    background-color: rgb(0, 136, 255, 0.647);
    text-align: center;
    color: white;
    padding: 1.5rem;
    border-bottom: solid 4px #317796;
}

header h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 10px;
}

header h1 span{
    background-color: white;
    color: rgb(0, 136, 255, 0.647);
    padding: 5px;
}

header h2{
    color: black;
    font-size: 1.7rem;
    font-variant: small-caps;
}


/* MAIN */

main{
    padding: 0 1em;
}

section{
    padding: 2rem 0;
    border-bottom: 1px dotted #489ec2;
}

section h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 500;
    color: #489ec2;

}

section h3{
    font-size: 1.2rem;
    font-weight: 600;
}

mark{
    background-color: #489ec2;
    color: white;
}
/* SEZIONE 1 */

figure{
    text-align: center;
    padding-bottom: 15px;
}

figure img{
    padding: 5px;
    border: solid 1px grey;
}

blockquote{
    background-color: lightgray;
    padding: 25px;
    border-radius: 20px;
}

blockquote p{
    font-style: italic;
}

ul{
    margin-bottom: 1rem;
    margin-left: 2rem;
}

dd{
    margin-left: 1.7rem;
}

dl{
    margin-top: 1rem;
}

/* ELEMENTI NEL MAIN */



/* FOOTER */

footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px 0;
    
}

footer a{
    font-weight: 700;
}

kbd{
    color: yellow;
    font-weight: 700;
    font-style: italic;
}

small{
    color: #999;
    font-size: 0,8rem;
}

/* RESPONSIVE - tablet (800px) */

@media screen and (min-width: 800px) {
    main{
        padding: 0 5%;
    }
    address{
        width: 240px;
        margin: auto;
    }
    main section:first-of-type div:first-of-type{
        text-align: center;
    }
    header h1{
        font-size: 2.5rem;
    }

}

/* RESPONSIVE - desktop (1230px) */

@media screen and (min-width: 1230px){
    #responsive-container{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin: 25px 0;
    }
    #responsive-container section{
        padding: 0 25px;
        border: solid 1px black;
        width: 45%;
        min-height: 400px;

    }
}